# Extra Questions
### Jack Gallagher - 15508033
## Package Imports

In [2]:
import pandas as pd
import feedparser
import json
import requests
from bs4 import BeautifulSoup
import json
from twitter import Twitter, OAuth, TwitterHTTPError, TwitterStream

## Question 1

In [5]:
# This first function uses the inputted article url argument to gather the headline and body of the article
def getArticleDetailsByUrl(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text,"html.parser")
    headline = soup.title.string # headline retrieved using beautifulsoup package
    doc_body = ''
    
    if "The Irish Times" in soup.text:
        for body_p_tag in soup.article.find_all("p", attrs={"class": "no_name"}):
            doc_body += body_p_tag.get_text() + " " # body of article is appended to doc_body string for each p tag
    
    return [headline, doc_body] # a list is returned containing article headline and content
    
# The second function gathers all of the RSS feed data and returns it as a single list
def getRSSData(rss_feed):
    data = feedparser.parse(rss_feed)
    return [getArticleDetailsByUrl(article_link['link']) for article_link in data['entries']] # each article appended to this list

rss = 'http://www.irishtimes.com/cmlink/news-1.1319192'
data = getRSSData(rss)
columns=['Title', 'Content']
df = pd.DataFrame(data, columns=columns) # dataframe created containing the gathered data using the functions
df.head(5)

,Title,Content
0,EU Contest for Young Scientists features starc...,The top prizes in this year’s European Union C...
1,Junior entrepreneurs encouraged to start real ...,A few years ago entrepreneur and multimilliona...
2,New personal injury measures needed to reduce ...,A report has called for new guidelines for jud...
3,Councils should buy vacant houses compulsorily...,A major programme of compulsory purchasing of...
4,Unemployment main driver for Spaniards moving ...,When Alvaro Cabello came to Ireland in 2012 it...

## Question 2

In [4]:
# This first block of code is from the practical where the first 100 tweets from twitter are saved into a file
# this file - twitter_search_100tweets.json - is what I used for this question
ACCESS_TOKEN = '2839893905-pBXUzdrHCNXyjfPuBpSwxNbH1zyEpRaa2sXK0Jd'
ACCESS_SECRET = 'eNtB7YTAfsMhPIQtKji8aQT7zQFpFfDPR2lQ89WKfgI1U'
CONSUMER_KEY = 'ZqPrfLpc0znZlz3kW2a22VmUa'
CONSUMER_SECRET = 'BHD19T0DmUV2XVvEhUAgvpXMx0nGfxevAtr53NbCd9jQjPyTqn'

oauth = OAuth(ACCESS_TOKEN, ACCESS_SECRET, CONSUMER_KEY, CONSUMER_SECRET)
twitter = Twitter(auth=oauth)
            
iterator = twitter.search.tweets(q='#analytics', result_type='recent', lang='en', count=100)

file = open("twitter_search_100tweets.json", "w") 
for tweet in iterator['statuses']:
    file.write(json.dumps(tweet)+"\n")
file.close()

In [6]:
# This next block of code opens the previous file I created
with open("twitter_search_100tweets.json") as file:
    all_tweets = map(json.loads, file.readlines()) # map function used to load each json line from the file into json.loads function
    tweet_data_list = []
    for single_tweet in all_tweets:
        user_id = single_tweet['user']['id'] # returns twitter user id
        text = single_tweet['text'] # returns text of tweet
        retweet_count = single_tweet['retweet_count'] # returns retweet count
        user_retweet = single_tweet['in_reply_to_user_id'] # returns retweeters username 
        tweet_data_list.append((user_id, text, retweet_count, user_retweet)) # all of these variables appended to list 

columns=['User ID', 'Text', 'No. Retweets', 'User Retweet']
df = pd.DataFrame(tweet_data_list, columns=columns) # dataframe created using list from above and columns named.
df.head(5)

,User ID,Text,No. Retweets,User Retweet
0,999174330251730944,RT @AspioneerBB: #MachineLearning cheatsheet: ...,14,NaN
1,40660140,RT @Ronald_vanLoon: A Harvard Mathematician Re...,22,NaN
2,251921486,#Analytics Then and Now https://t.co/K1IAvhBSm...,0,NaN
3,2882061802,"Our GPU-accelerated database for #analytics, #...",0,NaN
4,973871778190643202,Top #hashtags for #BigData Influencers!\n1-#ai...,0,NaN